<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}
		<!-- the below code calls the screamIt helper function and the argument to the function is welcomeMessage. Specify the helper function followed by n arguments separated by the 'space' character. -->
		<p>{{portfolioMessage}}</p>

		{{> footer}}
	</body>
</html>